.container{
    grid-template-areas:
    "header header header header"
    "nav main main main"; 
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    margin: 0 0;
    padding: 0;
}

.description{
    margin: 0 1rem;
    padding: 1rem 0.5rem;
}

.description >ul{
    margin:1rem 0 0 3rem;
}

.description >ul li{
    padding: 0.3rem 0;
}

.emailFormContainer {
    width: inherit;
    margin: 0 0 0 1rem; 
}

.formTitle{
    color: green;
}

.emailForm{
    display:flex;
    flex-direction: column;
    margin: 1rem 0 0 2rem ;  
    padding: 0;
    align-items:flex-start;
}

.emailFormObject{
    white-space: nowrap;
    margin: 1rem 0;
}

.emailFormObject >input{
    width: max-content;
    margin: 0 0.5rem ; 
}

.emailFormObject >label{
    margin: 0 0.5rem; 
}

.emailForm >input{
    width: max-content;
    margin: 0 4rem ; 
}

.footer{
   grid-area:footer;
   margin-left: 1rem;
   padding:0;
}

.footer> .emailAddress >p{
    margin: 1rem 0 0 1rem;
}