.main{
    grid-area: main; 
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin: 0 0;
    padding: 0;
}

pre{
    white-space:inherit;
}

.description{
    margin: 0.7rem 1rem;
    padding: 0 0.5rem;
}

.description >ul{
    margin-left: 3rem;
}

.emailFormContainer {
    width: inherit;
    margin: 3rem 0 0 0.7rem; 
}

.formTitle{
    color: green;
}

.emailForm{
    display:flex;
    flex-direction: column;
    margin: 1rem 2rem ; 
    padding: 0;
    align-items:flex-start;
}

.emailForm >input{
    width: max-content;
    margin: 1rem 4rem ; 
}

.emailForm >label{
    margin: 0.7rem 0 ; 
}

.footer{
   grid-area:footer;
   margin: 2rem 0 0.7rem;
   padding:0 0;
}

.footer .emailAddress{
    margin-left: 0.7rem;
}

.footer> .emailAddress >p{
    margin-left: 1rem;
}