.main{
    grid-area: main; 
    margin: 0 0 0 0.7rem;
    padding: 0;
    overflow: hidden;
}

pre{
    white-space:inherit;
}

.description{
    margin: 1rem 1rem;
    padding: 0 0.5rem;
}

.emailFormContainer {
    width: inherit;
    margin: 3rem 0 0 0; 
}

.formTitle{
    color: green;
}

.emailForm{
    display:flex;
    flex-direction: column;
    margin: 1rem 2rem ; 
    padding: 0;
    align-items:flex-start;
}

.emailForm >input{
    width: max-content;
    margin: 1rem 4rem ; 
}

.emailForm >label{
    margin: 0.7rem 0 ; 
}

.footer{
   grid-area:footer;
   margin: 0 0 0 0.7rem;
}

.footer> .emailAddress >p{
    margin: 0 0 0 2rem;
}