.footer >img {
    width: 70%;
    height: auto;
    margin: 0 auto;
} 
.main{
    grid-area: main;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.homeMainText >li{
    padding: 0.5rem 0;
    margin: 0 0;
    word-wrap: normal;
    list-style: none;
}

.footer{
    grid-area: footer;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeMainText{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}