*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{  
    padding: 0;
    margin: 0;
}
body{ 
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.container{
    display: grid;
    position: fixed;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem); /* Width of 100% minus 2 rem for equal margins */
    grid-template-columns: max-content; 
    grid-template-rows: max-content;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0;
    margin: 1rem;
    grid-template-areas:
    "header header header"
    "nav main main"
    "nav footer footer";
    overflow: hidden; 
}


.header{
    grid-area: header;
    border-style: none none solid none;
    border-width: 0.1rem;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
}

.main{
    margin:0;
    padding: 0;
}

.navigation{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
    margin: 0; 
    border-style: none solid none none;
    border-width: 0.1rem;
}

.navigation nav ul{
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.navigation nav ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1rem 0 0 0;    
}

.nav-link{
    margin: 3.5rem 0 0 0;
    padding: 0.2rem 0.3rem;
    width: max-content;
    max-width: inherit;
    height: min-content;
    background-color:grey;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover{
    background-color: rgb(72, 73, 73);
}

.footer{
    grid-area: footer;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 750px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html{
        padding: 0;
        margin: 0;
    }
    body{
        padding: 0;
        margin: 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .container{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: calc(100% - 2rem);
        width: calc(100% - 2rem);
        border-style: solid;
        border-width: 0.1rem;
        padding: 0;
        margin: 1rem;  
        overflow: hidden; 
    }
    
    .header{
        border-style: none none solid none;
        border-width: 0.1rem;
        padding: 1rem 0;
        margin: 0;
        text-align: center;
    }
    
    .main{
        margin:0;
        padding: 0;
    }
    
    .navigation{         
        margin: 0;
        padding: 0 ;
        width: 100%;
        border-style: none none solid none;
        border-width: 0.1rem;
    }

    .navigation{  
        width: 100%;
        padding: 0;
        margin: 0;
    }  
    
    .navigation nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;    
    }

    .navigation nav ul li{
        display: inline-block;
        white-space: nowrap;
        margin: 1rem;
    }

    .navigation nav ul li:last-child {
        margin-right: 0; /* Remove margin-right for the last item in each row */
    }

    .nav-link{
        padding: 0.2rem 0.3rem;
        width: fit-content;
        font-size:xx-small;
        max-width: inherit;
        height: fit-content;        
    }
    
    .footer{
        grid-area: footer;
        margin: 0;
        padding: 0;
    }
}